/* CSS RESET FOR BODY */
html, h3, h1, body{
    margin: 0;
    padding: 0;
}
/* NAV CSS */
.nav{
    overflow: visible;
    background-color: #333;
    height: 15vh;
    width: 100vw;
    position: sticky;
    box-sizing: border-box;
    display: flex;
}
.nav-logo{
    height: 100%;
    width: 15%;
}
.nav-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.nav-links{ 
    height: 100%;
    width: 85%;
    display: inline;
}
.nav-links ul{
    list-style: none;
    text-align: end;
    height: 60%;
}
.nav-links ul li{
    display: inline;
    cursor: pointer;
    margin-right: 7%;
}
/* HEADER CSS */
.header{
    height: 25vh;
    width: 100vw;
    text-align: center;
    font-size: x-large;
    padding-top: 8%;
}
.header-text {
    padding: 3%;
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    text-align: left;
}
/* Content 1 CSS */
.content{
    height: 60vh;
    width: 100vw;
}
.content1-text{
    background-color: rgb(224, 39, 39);
    padding: 3%;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
}
.content1-img {
    float: right;
    background-color: rgb(224, 39, 39);
    padding: 3%;
    box-sizing: border-box;
    box-shadow: 0px 10px 7px #333;
    height: 50%;
    width: 100%;
}
#service-list {
    text-align: left;
}
/* Content 2 CSS */
.content2{
    height: 40vh;
    width: 100vw;
    display: flex;
    padding-top: 5%;
    padding-left: 3%;
    box-sizing: border-box;
}
.content2 h1 {
    text-align: center;
    padding: 20px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 20px #333;
    overflow: hidden;
    width: 300px;
    height: 200px;
}
.card-header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    min-height: 250px;
}
/* Bottom / Footer CSS */
.contact{
    box-sizing: border-box;
    background-color: rgb(39, 36, 36);
    color:azure;
    font-weight: 600;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 1%;
}
.footer{
    box-sizing: border-box;
    height: 10vh;
    width: 100vw;
    background-color: rgb(19, 17, 17);
    color: azure;
    text-align: center;
    padding-top: 1%;
}
