/* CSS RESET FOR BODY */
html, h3, h1, body{
    margin: 0;
    padding: 0;
}

/* HEADER CSS */
.header{
    height: 20vh;
    width: 100vw;
    text-align: center;
    font-size: x-large;
    padding-top: 8%;
    padding-bottom: 2%;
}
.header-text {
    padding: 3%;
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    text-align: left;
}
/* Content 1 CSS */
.content{
    height: 60vh;
    width: 100vw;
    box-shadow: 0px -10px 7px #333;
}
.content1-text{
    background-color: rgb(170, 0, 0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3%;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
    box-shadow: 0px 10px 7px #333;
    color: #fff;
}
#service {
    float: right;
    border-radius: 15px;
}
#service-list {
    text-align: left;
}
/* Content 2 CSS */
.content2{
    height: 45vh;
    width: 100vw;
    display: flex;
    padding-top: 8%;
    padding-left: 3%;
    box-sizing: border-box;
}
#help {
    text-align: center;
    box-sizing: border-box;
    font-size: x-large;
    padding-top: 75px;
}
.card {
    background-color: #fff;
    box-shadow: 0px 2px 20px #333;
    overflow: hidden;
    width: 300px;
    height: 200px;
    margin: 0 30px;
    align-items: center;
    border-radius: 15px;
}
.card-header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.card:hover {
    transform: scale(1.2,1.2);
    transition: 300ms;
}
/* Bottom / Footer CSS */
.contact{
    width: 100vw;
    box-sizing: border-box;
    background-color: rgb(39, 36, 36);
    color:azure;
    font-weight: 600;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 1%;
}
.footer{
    box-sizing: border-box;
    height: 10vh;
    width: 100vw;
    background-color: rgb(19, 17, 17);
    color: azure;
    text-align: center;
    padding-top: 1%;
}

@media screen and (max-width: 800px) {
    .card {
    }
}