#nav {
    overflow: hidden;
    background-color: #333;
    height: 15vh;
    width: 100vw;
    box-sizing: border-box;

/*<<<<<<< ryan
    display: flex;
    box-sizing: border-box;
=======
*/>>>>>>> main

}
  
#nav a {
    vertical-align: 7vh;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
   
#nav a:hover {
    background-color: #ddd;
    color: black;
}
   
#nav a.active {
    text-align: center;
    background-color: rgb(224, 39, 39);
    color: white;
}

#nav-logo{
    height: 100%;
    width: 15%;
    display: inline-flex;
}
#nav-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
  
.sticky {
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
}